@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.hero_bg {
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100%;
  overflow: hidden;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  height: 100%;
  z-index: 3;
}

.bg {
  background-image: url("../images/bf.jpg");
}

.bg,
.bg_1 {
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg_1 {
  background-image: url("../images/brush.jpg");
}

.scroll_bg {
  background: rgba(0, 0, 0, 0.625);
  height: 100%;
  z-index: 4;
}

.brush {
  height: 700px;
}

@media screen and (max-width: 768px) {
  .brush {
    height: 400px;
  }
}
